{% extends "base.html" %}

{% block page_title %}Разместить объявление{% endblock page_title %}

{% block page_content %}
    <h1>Подать новое объявление</h1>

    <form method="POST">
        {% csrf_token %}

        <div>
            <label for="titleInput"> Заголовок объявления: </label>
            <input 
                id="titleInput" 
                name="title" 
                type="text" 
                value="{{ title|default:''}}"
                placehplder="заголовок (максимальная длина 200 символов)"
            >
            
            {% if errors.title %}
                <div style="color: red; ">{{ errors.title }}</div>
            {% endif %}
        </div>
        

        <div>
            <label for="textInput"> Текст поста: </label>
            <textarea id="textInput" name="text" rows="3">{{ text|default:'' }}</textarea>
            {% if errors.text %}
                <div style="color: red;">{{ errors.text }}</div>
            {% endif %}
        </div>

        <button type="submit">Создать</button>
    </form>

{% endblock page_content %}